<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dados Estatísticos</title>
    <link rel="stylesheet" href="http://localhost:3002/css/estilos.css">


</head>

<body>
    {{{body}}}
</body>
</html>