<h1>Relatório Pesquisa XYZ</h1>

<div class="clQuestao">
    <p>Questão A: Sua solicitação foi atendida?</p>
    <p>Não foi atendida: {{a.naoAtendida}}%</p>
    <p>Parcialmente atendida: {{a.parcAtendida}}%</p>
    <p>Totalmente Atendida: {{a.atendida}}%</p>
</div>

<div class="clQuestao">
    <p>Questão B: Qual nota você daria para o atendimento? </p>
    <p>Péssimo: {{b.pessimo}}%</p>
    <p>Ruim: {{b.ruim}}%</p>
    <p>Aceitável: {{b.aceitavel}}%</p>
    <p>Bom: {{b.bom}}%</p>
    <p>Excelente: {{b.excelente}}%</p>
</div>

<div class="clQuestao">
    <p>Questão C: Como você classificaria o comportamento do atendente?</p>
    <p>Indelicado: {{c.indelicado}}%</p>
    <p>Mau Humorado: {{c.mauHumorado}}%</p>
    <p>Neutro: {{c.neutro}}%</p>
    <p>Educado: {{c.educado}}%</p>
    <p>Muito Atencioso: {{estatisticas.c.muitoAtencioso}}%</p>
</div>

<div class="clQuestao">
    <p>Questão D: De 0 à 10, qual nota você daria para o produto </p>
    <p>0: {{d.zero}}%</p>
    <p>1: {{d.um}}%</p>
    <p>2: {{d.dois}}%</p>
    <p>3: {{d.tres}}%</p>
    <p>4: {{d.quatro}}%</p>
    <p>5: {{d.cinco}}%</p>
    <p>6: {{d.seis}}%</p>
    <p>7: {{d.sete}}%</p>
    <p>8: {{d.oito}}%</p>
    <p>9: {{d.nove}}%</p>
    <p>10: {{d.dez}}%</p>
</div>

<div class="clQuestao">
    <p>Questão E: Informe sua idade: </p>
    <p>Menos de 15: {{e.menosDe15}}%</p>
    <p>De 15 a 21: {{e.de15a21}}%</p>
    <p>De 22 a 35: {{e.de22a35}}%</p>
    <p>De 36 a 50: {{e.de36a50}}%</p>
    <p>Mais de 50: {{e.maisde50}}%</p>
</div>

<div class="clQuestao">
    <p>Questão F: Informe seu gênero: </p>
    <p>Feminino: {{f.feminino}}%</p>
    <p>Masculino: {{f.masculino}}%</p>
    <p>Outro: {{f.outro}}%</p>
</div>