body {
    
    border: 0px;
    margin: 3px;
    padding: 3px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

fieldset {
    border-radius: 5px;
    margin: 100px;
    margin-top: 40px;
    border-color: lightcoral;
    margin-left: 200px ;
    margin-right: 200px ;
}

button {
    padding: 15px;
    margin-right: 30px;
    border-radius: 10px;
    background-color: lightcoral;
    font-size: 15px;
    margin-bottom: 3px;
    
}

input {
    border-radius: 5px;
    border-width: thin;
    padding: 10px;
    padding-inline-start: 100px;
}

.clQuestoes {
    display: flex;
    margin: 5px;
    padding: 5px;
    padding-bottom: 20px;;
    
}

#idOut {
    margin: 40px;
}

.clQuestao {
    border-bottom: solid;
    border-width: 1px;
    border-color: lightcoral;
    margin: 40px;
    
}

#idRecSenha {
    border:none;
    background-color: transparent;
    font-size: 15px;
}

#idLegSenha {
    font-size: 10px;
}